.range {
    position: relative;
    width: 90%;
    height: 5px;
    
}

.range input {
    width: 100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
}

.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    margin: -8px 0 0;
    border-radius: 50%;
    background:  linear-gradient(90deg, rgba(34,168,207,1) 0%, rgba(0,212,255,1) 100%);
    cursor: pointer;
    border: 2px !important;
}

/* .range input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background:  linear-gradient(90deg, rgba(34,168,207,1) 0%, rgba(0,212,255,1) 100%);
    cursor: pointer;
    border: 0 !important;
} */

.range input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background:  linear-gradient(90deg, rgb(34, 168, 207) 0%, rgb(0, 212, 255) 100%);
    cursor: pointer;
    border: 0 !important;
}

.range input::-webkit-slider-runnable-track {
    width: 90%;
    height: 10px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 20px;
    cursor: pointer;
    background: #dfdfdf;
}


/* .range input::-moz-range-track {
    width: 90%;
    height: 2px;
    cursor: pointer;
    background: #f1f1f1;
}

.range input::-ms-track {
    width: 90%;
    height: 2px;
    cursor: pointer;
    background: #f1f1f1;
} */

/* .range input:focus {
    background: none;
    outline: none;
} */

/* .range input::-ms-track {
    width: 90%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
} */

.range-labels {
    display: flex;
    margin-left: -65px !important;
    margin-top: 20px;
    /* margin: 18px -10px 0; */
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.range-labels li {
    position: relative;
    float: left;
    width: 13.4%;
    font-weight: bold;
    text-align: center;
    color: #b2b2b2;
    font-size: 12px;
    cursor: pointer;
}

.range-labels li::before {
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    /* content: ""; */
    margin: 0 auto;
    width: 9px;
    height: 9px;
    background: #f1f1f1;
    border-radius: 50%;
}

.range-labels .active {
    color:  #22a8cf;
}

.range-labels .selected::before {
    background:  linear-gradient(90deg, rgba(34,168,207,1) 0%, rgba(0,212,255,1) 100%);
}

.range-labels .active.selected::before {
    display: none;
}